body {
    text-align: center;
    color: white;
    background-color: rgb(20,20,20);

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 18px;
}

.buttons button {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Helvetica;
    background-color: rgb(120,120,120);

    border-radius: 0;
    border-style: solid;
    border-color: rgb(171, 69, 255);
}

.buttons button:active {
    background-color: rgb(60,60,60);
}

button img {
    width: 50px;
    height: 50px;
}

p {
    font: bold 24px Helvetica;
}